<!DOCTYPE html>
<html>
  <head>
    <title>Haikus for Mona</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Haikus for Mona">
    <meta property="og:description" content="Some of the best haikus you'll ever read about our rescue dog June">
    <meta property="og:image" content="/images/sunlight.jpg">
  </head>
  <body>
    <h1>Haikus for Mona</h1>

<h1>“<%…%>”像这样的语法没接触过，可能是这种语言的语法规则，同一个项目中的不同文件，要用不同的语言去编写，这太浪费时间了，因为每种语言都需要去学习。举个例子，这就跟在自己的国家，去一个地方，要用一种语言交流，再去另一个地方，再换另一种语言去交流，这都需要从abc开始学起，太浪费时间了，中国有通用语言普通话，这就解决了交流问题。编程应该有一种通用语言出现，这样在进行项目的时候要顺畅的多，也会被更多人看懂和运用，实现项目的实用价值，而不是放到github的架子上让人去看，项目写出来就是让人去用的。</h1>
 <div>
      <% for(var i=0; i < haikus.length; i++) { %>
        <img
          class="mona-images"
          src="images/<%= haikus[i].image %>" />
        <div 
          class="haiku-containers">
          <p 
            class="haikus"
          ><%- haikus[i].text %></p>
        </div>
      <% } %>
    </div>
</html>
